@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

html{
  height: 100vh;
}

body{
    width: 100vw;
    background: black url(img/p-fundo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

}

h1 {
    text-align: center;
    font-size: 2em;
    color: aliceblue;
    padding: 20px 10px 0px 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

img{
  display: block;
  margin: auto;
}

#box {
    width: 992px;
    padding: 10px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

#tecladoVirtual {
    display:flexbox;
    flex-direction: column;
    border: 2px solid aliceblue;
    border-radius: 5px;
    background-color: 255, 255, 255, 0.5;
    padding: 5px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  #text {
    width: 970px;
    max-width: 970px;
    max-height: 80px;
    border-radius: 10px;
    margin: 0px auto 10px auto;
    font-size: 20px;
    padding: 5px 15px;
    flex-wrap: wrap;
    color:black;
    background-color: aliceblue;
}

  .linha {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(95,158,160);
    color:aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    width: 100%;
    align-items: center;
  }
  
  button:hover {
    background-color: rgb(47,79,79);
  }
  
  button:active {
    background-color:aliceblue;
  }

  @media (max-width: 600px){

  }
  

  